.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 0pxx #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    /* 0px: X offset (no horizontal shadow) 
    0px: Y offset (no vertical shadow) 0px: Blur radius 
    (no blur applied) 0px: Spread radius (no spread applied)
     #00000015: Color (transparent black, ~6% opacity)*/
}
.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    /* First value (15px): This sets the radius for the top-left 
    corner. Second value (15px): This sets the radius for the top-right corner.
     Third value (0px): This sets the radius for the bottom-right corner. A value of 0 here creates a sharp, 90-degree angle (no rounding). Fourth value (0px): This sets the radius for the bottom-left corner. Similar to the third value, 0 here creates a sharp angle. In simpler terms:*/
}
.food-item-info{
    padding: 30px;
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}
.food-item-name-rating img{
    width: 70px;
}
.food-item-desc{
    color: #676767;
    font-size: 12px;
}
.food-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}
.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}
.food-item-counter img{
width: 30px;
}